<div class="relative flex flex-1 flex-col items-center justify-center pt-12 pb-16">
    <div class="md:col-span-1 mb-3">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Ajouter du matos</h3>
    </div>
    {{ form_start(form) }}
        <div class="mb-6">
            {{ form_label(form.material_name) }}
            {{ form_errors(form.material_name) }}
            {{ form_widget(form.material_name) }}
        </div>

        <div class="mb-6">
            {{ form_label(form.material_description) }}
            {{ form_errors(form.material_description) }}
            {{ form_widget(form.material_description) }}
        </div>

        <div class="mb-6">
            {{ form_label(form.material_img) }}
            {{ form_errors(form.material_img) }}
            {{ form_widget(form.material_img) }}
        </div>
        {{ form_widget(form.submit) }}
        {{ form_widget(form._token) }}
    {{ form_end(form) }}
</div>