{% extends 'base.html.twig' %}

{% block title %}Material{% endblock %}

{% block body %}
    <h1>Material</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ material.id }}</td>
            </tr>
            <tr>
                <th>Material_name</th>
                <td>{{ material.materialName }}</td>
            </tr>
            <tr>
                <th>Material_description</th>
                <td>{{ material.materialDescription }}</td>
            </tr>
            <tr>
                <th>Material_img</th>
                <td>{{ material.materialImg }}</td>
            </tr>
            <tr>
                <th>Material_createdat</th>
                <td>{{ material.materialCreatedat ? material.materialCreatedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Material_updatedat</th>
                <td>{{ material.materialUpdatedat ? material.materialUpdatedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_material_index') }}">back to list</a>

    {% if is_granted("ROLE_USER") %}

        {% if app.user.asso.id == material.asso.id %}
            <a href="{{ path('app_material_edit', {'id': material.id}) }}">edit</a>

            {{ include('material/_delete_form.html.twig') }}

        {% elseif dealed %}
            
            <p>Vous avez déjà fait une demande pour ce matériel</p>

        {% else %}
            <a href="{{ path('app_deal_new', {'id': material.id}) }}">DEAL</a>

        {% endif %}

    {% else %}
        <p>Vous devez être connecté pour pouvoir faire une demande</p>
        <a href="{{ path('login') }}">Se connecter</a>
    {% endif %}
    
    
{% endblock %}
