<div{{ attributes }} class="overflow-hidden mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mt-16 p-5 flex gap-2 flex-col rounded-md bg-orange-600" style="box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08),0 4px 8px 0 rgba(26,26,26,.12);">
        <label for="search" class="text-white font-semibold">Rechercher une annonce</label>
        <div class="rounded-2xl text-black w-full shadow flex justify-center items-center py-2 px-4 text-base font-medium border-0 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-600 bg-white">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png" alt="iconde de recherche">
            <input name="search" id="search"
                   type="search"
                   data-model="debounce(300)|query"
                   value="{{ query }}"
                   data-action="live#update"
                   placeholder="ex : Barnum"
                   class="border-none focus:outline-none focus:ring-0 focus:border-none w-full pl-2"
            >
        </div>
    </div>
    {% if this.materials|length > 0 %}
        <div data-loading="addClass(opacity-50)">
            <div class="flex flex-wrap gap-8 mt-32">
                {% for material in this.materials %}
                    <article class="flex flex-col items-center justify-center mb-5">
                        <div class="flex flex-col shadow-md cursor-pointer w-96 hover:-translate-y-1 duration-300">
                            <div class="inline relative group h-48">
                                <img class="absolute rounded-t object-cover h-full w-full"
                                     src="{{ asset('uploads/images/' ~ material.materialImg) }}"
                                     alt="photo du produit {{ material.materialName }}" />

                                <div class="flex flex-row absolute justify-end
                            h-16 w-full bottom-0 px-3 space-x-2
                            bg-none opacity-0 group-hover:opacity-100
                            group-hover:bg-gradient-to-t from-black/20 via-orange-600/20 to-transparent
                            transition-all ease-in-out duration-200 delay-100">

                                    <button class="bg-gray-50/10 rounded-full
                                px-1 h-9 w-9 my-auto hover:bg-orange-50/20
                                transition-colors duration-200">
                                        <i class="mdi mdi-playlist-plus text-xl text-gray-200
                                    hover:text-white transition-all duration-200"
                                           title="Add to Bookmarks"></i>
                                    </button>

                                    <button class="bg-gray-50/10 rounded-full
                                px-1 h-9 w-9 my-auto hover:bg-orange-50/20
                                transition-colors duration-200">
                                        <i class="mdi mdi-heart text-xl text-gray-200 p-1
                                    hover:text-white transition-all duration-200"
                                           title="Add to Favorites"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-col bg-white rounded-b p-3">
                                <div class="text-sm font-semibold text-gray-900 hover:underline truncate">
                                    {{ material.materialDescription }}
                                </div>

                                <div class="text-xxs text-gray-400 truncate mt-1">
                                    par
                                    <a class="font-semibold hover:underline" href="{{ path('app_association_index', {'id': material.asso.id}) }}">{{ material.asso.associationName }}</a>
                                </div>

                                <div class="text-sm text-gray-600 font-bold mt-4 mb-1">
                                    $23
                                </div>

                                <div class="flex flex-row mt-2">
                                    <div class="flex flex-col flex-auto">
                                        <div class="flex flex-row group">
                                            <i class="mdi mdi-star text-xs text-amber-400
                                    hover:text-amber-500 transition-all duration-200"
                                               title="Worst"></i>

                                            <i class="mdi mdi-star text-xs text-amber-400
                                    hover:text-amber-500 transition-all duration-200"
                                               title="Bad"></i>

                                            <i class="mdi mdi-star text-xs text-amber-400
                                    hover:text-amber-500 transition-all duration-200"
                                               title="Not Bad"></i>

                                            <i class="mdi mdi-star text-xs text-amber-400
                                    hover:text-amber-500 transition-all duration-200"
                                               title="Good"></i>

                                            <i class="mdi mdi-star text-xs text-amber-400
                                    hover:text-amber-500 transition-all duration-200"
                                               title="Awesome"></i>

                                            <div class="text-xxs text-gray-400 ml-1 hover:underline">
                                                Publier le {{ material.materialCreatedAt|date('d/m/Y') }}
                                            </div>
                                        </div>

                                        <div class="text-xxs text-gray-400 mt-1" title="34k Downlaods in this year">
                                            34 vues
                                        </div>
                                    </div>

                                    <div class="flex flex-row flex-auto justify-end">

                                        <a class="flex text-xs border px-3 my-auto py-2
                                border-amber-500 group hover:bg-amber-500
                                rounded-xss
                                transition-all duration-200">

                                            <div class="text-xxs text-amber-700 font-semibold ml-2
                                    group-hover:text-white delay-100">
                                                Voir l'annonce
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
